/* -------------- Commun à toutes les pages -------------- */

/* Page de couverture */

header {
    position: relative;
}

/* image collée en haut */
body > header > figure > img {
    display: inline;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

/* titre page de couverture */
body > header > h1 {
    font-size: 45px;
}


/* logo DATA RUNNER en haut à gauche */
body > header > img:first-child {
    display: inline;
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem;
}

/* flèche en bas de l'image */
body > header > img:last-of-type {
    display: inline;
    position: absolute;
    top: 48rem;
    left: 11rem;
}

body > header > figure > figcaption {
    margin-top: 38rem;
    margin-left: -1rem;
    margin-right: -1rem;
    margin-bottom: 4rem;
    float: left;
}

.menu > ul {
    margin-top: 0;
}

/* marge pour le contenu */
body > article {
    padding-left: 1rem;
    padding-right: 1rem;
}

article {
    position: relative;
}

/* -------------- MISE EN PAGE DE LA PAGE D'ACCUEIL -------------- */

.introduction {
    position: relative;
}

.introduction > figure > img {
    display: block;
    position: absolute;
    top: 64rem;
    left: 0;
    padding: 1rem;
}

.introduction > p:last-of-type {
    font-size: 1.2rem;
    display: block;
    position: absolute;
    background-color: white;
    width: 13rem;
    top: 75rem;
    left: 6rem;
    padding: 1rem;
}

.vignettes_articles {
    position: relative;
}

.introduction > figure > figcaption {
    padding-top: 32rem;
    margin-left: -2rem;
    margin-right: -2rem;
}

.article_1 > h2, .article_2 > h2, .article_3 > h2 {
    text-decoration: overline;
    text-decoration-color: #FAC79B;
    font-size: 1.8rem;
    color: #021E73;
    border-radius: 10px;
    margin-top: 50px;
}

/* boutons pour les vignettes */

.button {
    font-size: 1.2rem;
    background-color: #344B8F;
    border: none;
    color: white;
    padding: 15px;
    padding-bottom: 30px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    border-radius: 0.3rem;
}

/* position de vignettes */

.article_1 > a > img {
    position: absolute;
    top: 138px;
    left:289px;
    border: solid;
    border-color: white;
    border-radius: 0.3rem;
}

.article_2 > a > img {
    position: absolute;
    top: 340px;
    left:289px;
    border: solid;
    border-color: white;
    border-radius: 0.3rem;
}
.article_3 > a > img {
    position: absolute;
    top: 565px;
    left:289px;
    border: solid;
    border-color: white;
    border-radius: 0.3rem;
}

article {
    margin-bottom: 4rem;
}

/* -------------- FOOTER -------------- */

footer {
    background-color: #344B8F;
    position: absolute;
    padding-left: 1rem;
    padding-right: 1rem;
}

.prenom_nom_groupe {
    color: white;
}

.prenom_nom_groupe > p > a {
    color: white;
    text-decoration: none;
}

.prenom_nom_groupe > p {
    margin-bottom: -20px;
}

.contact > ul {
    list-style-type: none;
    padding-left: 0;
}
.contact {
    padding-top: 20px;
}

.contact > p > a {
    text-decoration: none;
    font-size: 1.4rem;
    color: white;
}

.contact > p {
    margin-bottom: -10px;
}

.contact > ul > li > a{
    color: #FAC79B;
    text-decoration: none;
    font-family: "Hind Madurai Light", sans-serif;
    font-size: 1rem;
}

.MMI > img {
    position: absolute;
    top: 16px;
    left: 313px;
}

.instagram > img {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 187px;
    left: 214px;
}

.facebook > img {
    position: absolute;
    width:30px;
    height:30px;
    top: 196px;
    left: 273px;
}
.youtube > img {
    position: absolute;
    width: 40px;
    height: 28px;
    top: 196px;
    left: 318px;
}

.mention_legale > p {
    color: white;
    font-family: "Hind Madurai Light", sans-serif;
    font-size: 0.8rem;
    padding-top: 20px;
}

.mention_legale > p > a {
    color: #FAC79B;
    font-family: "Hind Madurai Light", sans-serif;
    font-size: 0.8rem;
    text-decoration: none;
}