.nav-toggle {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 35px;
    right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.nav-toggle-bar,
.nav-toggle-bar::before,
.nav-toggle-bar::after {
    content: "";
    background-color: white;
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    transition: all .4s ease-in-out;
}

.nav-toggle-bar::before {
    top: -10px;
}


.nav-toggle-bar::after {
    top: 10px;
}

.menu-open .nav-toggle-bar {
    transform: rotate(135deg);
    background-color: black;
}

.menu-open .nav-toggle-bar::before,
.menu-open .nav-toggle-bar::after {
    transform: rotate(90deg);
    background-color: black;
    top: 0;
}

/* ------------ MENU -------------- */

.menu {
    background-color: white;
    position: fixed;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    transform: translateX(100vw);
    transition: all  .4s;
    z-index: 1;
}

.menu-open .menu {
    transform: translateX(0);
}

/* Bug IOS
/* l'overflow doit être appliqué sur l'élémment body & HTML
/* pour faire disparaitre le scroll sur safari IOS
/*  pour supprimer le scrool lorsque le menu est ouvert
*/
.menu-open,
.menu-open body {
    overflow: hidden;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 2.3rem;
    text-transform: uppercase;
}

.menu li {
    margin-bottom: 30px;
    transform: translateX(30px);
    opacity: 0;
    transition: all .4s ease;
}

.menu a {
    color: black;
    font-family: "Hind Madurai Medium", sans-serif;
    font-size: 1.3rem;
}

body > header > nav > ul > li:nth-child(2) > a,
body > header > nav > ul > li:nth-child(3) > a,
body > header > nav > ul > li:nth-child(4) > a {
    border-top: 2px solid;
    border-top-color: #6778AB;
    padding-top: 21px;
}


.menu li:last-child a {
    color: #F7AB69;
    font-family: "Hind Madurai Light", sans-serif;
    font-size: 1.3rem;
    top: 210px;
    left: 90px;
    position: absolute;
}

.menu-open .menu li {
    transform: translateX(0);
    opacity: 1;
}

.menu-open .menu li:nth-child(n+1) { transition-delay: .3s }
.menu-open .menu li:nth-child(n+2) { transition-delay: .35s }
.menu-open .menu li:nth-child(n+3) { transition-delay: .40s }
.menu-open .menu li:nth-child(n+4) { transition-delay: .45s }
.menu-open .menu li:nth-child(n+5) { transition-delay: .50s }



